body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

.container-1 {
  margin-top: 10px;
  width: 100%;
}

.container-2 {
  width: 80%;
}

.search {
  background-color: #ffffff;
  height: 100px;
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.2);
  display: flex;
  justify-content: center;
}

.search-form {
  border: none;
  display: flex;
  align-items: center;
}

#input {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #fff;
  padding-bottom: 5px;
  outline: none;
  font-size: 1.5rem;
  width: 20rem;
}

#submit {
  cursor: pointer;
  padding: 8px 10px 8px 10px;
  border: none;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  border-radius: 6px 0px 6px 0px;
  outline: none;
  background-color: #5a8faf;
  color: #fff;
  margin-bottom: 7px;
}

#submit:hover {
  color: #fff;
  background-color: #406196;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 0 10px;
  justify-content: center;
}

.container-results {
  width: 120px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
  padding: 10px 20px;
  border-radius: 8px;
  margin: 0 25px 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  border: 0;
  background-color: #fff;
  color: #646c77;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem !important;
  padding: 10px 30px;
}

button:hover {
  color: #5a8faf;
}

.player {
  display: flex;
  padding: 10px 0 7px 0;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(25, 25, 25, 0.1);
}

.music-player {
  cursor: pointer;
  align-content: center;
  width: 400px;
}